ul.disc-list {
    list-style:disc;
}

main { 
    height: calc(100vh - 3.835rem);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.last-topics {
    flex-basis: 50%;
    background-color: var(--color-primary);
    height: 25rem;
    padding: 2rem;
    color: var(--color-white);
    border-radius: 8px;
}

.last-topics h2 {
    margin-bottom: .5rem;
    transform: translateX(-1rem);
    font-weight: 600;
}

.last-topics ul {
    font-weight: 400;
}

form {
    color: #000;
}

form input {
    float: right;
    margin-top: 1rem;
}

@media screen and (max-width: 1080px) {
    main {
        flex-direction: column;
    }

    form input {
        float: none;
        font-size: 1rem;
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .last-topics {}
    form {
        flex-basis: 50%;
    }
    html {
        overflow-y: hidden;
    }
}